%ul.message
  %li{ :class => "floatLeft", :style => "float:left; margin-right:15px;" }= link_to(profile_image(message.owner, :S80x80), message.owner)
  %li.description= process_message_body(process_emails(h(message.body))) #h message.body
  %li.actions
    %ul
      - if message.owner?(current_user)
        %li.iconHover= link_to '&nbsp', edit_message_path(message), :class => 'editMessage', :title => "Edit This Message"
        %li.iconHover= link_to '&nbsp;', message, :confirm => "You want to delete this message.\nAre you sure?", :method => :delete, :class => 'deleteMessage', :title => "Delete This Message"
      - if logged_in?
        %li.iconHover= link_to '&nbsp;', "#", :class => 'shareMessage', :title => "Share This Message"
        %li.iconHover= link_to '&nbsp;', "#", :class => 'addToFavorite', :title => "Add to Favorite"
        %li.iconHover= link_to_function '&nbsp', "ReplyToMessageForm.open(#{ message.id },'#{ message.owner.unique_identifier }')", :class => 'replyMessage', :title => "Reply This Message"