- form_for current_user, :url => update_picture_path(:form_id => 'edit_picture_form'), :html => { :target => :editAccountFormIframe, :method => :put, :multipart => true , :id => "edit_picture_form"} do |f|
  %span{ :class => "floatLeft", :style => "float:left; margin-right:15px;" }= profile_image(current_user, :S80x80) unless @hide_profile_image
  = error_messages_for :profile_image
  .formRow
    = label_tag :profile_image
    = file_field_tag :profile_image, :class => "fieldWidth"
  .formRow
    = f.submit 'Save!', :class => "buttonLink"