- form_for current_user, :url => update_password_path(:form_id => 'edit_password_form'), :html => { :target => :editAccountFormIframe, :method => :put, :id => 'edit_password_form' } do |f|
  = error_messages_for :current_user
  .formRow
    = f.label :current_password
    = f.password_field :current_password, :class => "fieldWidth"
  .formRow
    = f.label :password, 'New Password'
    = f.password_field :new_password, :class => "fieldWidth"
  .formRow
    = f.label :password_confirmation, 'Verify New Password'
    = f.password_field :new_password_confirmation, :class => "fieldWidth"
  .formRow
    = f.submit 'Save!', :class => "buttonLink"