%ul{ :id => "user_#{ h(user.login) }", :class => "user" }
  %li.profilePic
    = link_to(profile_image(user, :S50x50), user)
    %div= link_to h(truncate(user.name_or_login, :length => 15)), user
  %li.description= user.bio.blank? ? '&nbsp;' : h(user.bio)
  = render :partial => 'shared/follow_link', :locals => { :user => user }