= javascript_tag '$(document).ready(function(){$("#tabs1").tabs();});'
= javascript_tag "$(document).ready(function(){successMessage.initialize();});"
#successMessage{ :style => "display:none; font-size:20px;" }
#tabs1
  %ul
    %li= link_to 'Account', "#profile"
    %li= link_to 'Password', "#password"
    %li= link_to 'Notices', "#notices"
    %li= link_to 'Picture', "#picture"
  #profile
    = render :partial => "form"
  #password
    = render :partial => "edit_password_form"
  #notices
    = render :partial => "edit_notices_form"
  #picture
    = render :partial => "edit_picture_form"
%iframe{ :id => "editAccountFormIframe",  :name => "editAccountFormIframe", :style => "width: 0px; height: 0px; display: none;"}