%div{ :style => "padding:10px 0px"}
  %h1{ :style => "font-size:16px" }= "Hi there,"
  %p{ :style => "padding:5px 0px" }= "You have been invited by #{ h @sender.name } (#{ link_to h(@sender.login), user_url(@sender, :host => SITE_NAME ) }) to join #{ SITE_NAME }."
  %p{ :style => "padding:5px 0px 2px 0px" }
    = link_to 'click here', @url
    = "to join #{ SITE_NAME }."
  %p{ :style => "padding:5px 0px" }= "If clicking the link doesn't work, try pasting #{ @url } into the address bar on your browser, and feel free to contact us at #{ CONTACT_US_EMAIL } if you have any questions."
  %p{ :style => "padding:30px 0px" }= SITE