- unless current_user.following?(user)
  %li{ :class => "followLink",  :id => "followUser_#{ h(user.login) }" }
    = link_to_remote 'Follow', :url => [user, Contact.new], :method => :post
-else
  %li{ :class => "unfollowLink", :id => "followUser_#{ h(user.login) }" }
    .following
      = 'Following'
      = link_to_remote '&nbsp;', :url => [:remove, user, Contact.new], :method => :delete, :html => { :class => "removeFollowing" }