#footer
  .footer_body
    = "&copy; #{ Time.now.year } &nbsp;"
    %span
      = link_to SITE_NAME, root_path
    %span.verticle_line
      = link_to 'Home', current_user ? messages_path : root_path
    %span.verticle_line
      = link_to 'About Us', page_path(:permalink => 'about-us'), :popup => true
    %span.verticle_line
      = link_to 'FAQ', page_path(:permalink => 'faqs'), :popup => true
    %span.verticle_line
      = link_to 'Blog', "/blog", :popup => true
    %span.verticle_line
      = link_to 'Terms', page_path(:permalink => 'terms'), :popup => true
    %span.verticle_line
      = link_to 'Privacy', page_path(:permalink => 'privacy-policy'), :popup => true
    %span.verticle_line
      =# link_to 'Developers', "/developers/API", :popup => true

  =# javascript_include_tag :all, :cache => true
  = javascript_tag "", :src => "http://s7.addthis.com/js/250/addthis_widget.js?pub= #{ ADD_THIS_USERNAME }"