%ul.userDetails
  %li.profilePic
    = link_to(profile_image(@user, :S150x150), @user)
  = render :partial => 'shared/follow_link', :locals => { :user => @user } unless current_user == @user
  %li.followers
    = link_to pluralize(@user.followers_count, 'Follower'), user_contacts_path(@user, :id => "followers"), :id => "#{ h(@user.login) }s_followers"
  %li.followings
    = link_to pluralize(@user.followings_count, 'Following'), user_contacts_path(@user, :id => "followings"), :id => "#{ h(@user.login) }s_followings"
  %li.favorites
    = link_to pluralize(@user.favorite_messages_count, 'Favorites'), user_favorites_path(@user), :id => "#{ h(@user.login) }s_favorites"
  - if @user == current_user
    %li.private_messages
      = link_to pluralize(@user.inbox_messages.count, 'Private Message'), private_messages_path, :id => "#{ h(@user.login) }s_private_messages"
    