.topNav
  %ul
    - unless logged_in?
      %li.last= link_to 'Login', login_path, :title => 'Click Here to Login'
      %li= link_to 'Sign Up', signup_path, :title => 'Click Here to Register'
    - else
      %li.last= link_to 'Logout', logout_path, :title => 'Click Here to Logout'
      %li= link_to 'My Account', edit_account_path, :title => 'My Account'
    %li= link_to "Home", root_path