<div class="topNav">
  <ul>
    <% unless logged_in? %>
      <li class="last"><%= link_to 'Login', login_path, :title => 'Click Here to Login' -%></li>
      <li><%= link_to 'Register', signup_path, :title => 'Click Here to Register' -%></li>
      <li><%= link_to "Home", root_path -%></li>
    <% else %>
      <li class="last"><%= link_to 'Logout', logout_path, :title => 'Click Here to Logout' -%></li>
      <li><%= link_to 'My Account', "#", :title => 'My Account' -%></li>
      <li><%= link_to "Home", current_user -%></li>
    <% end %>
  </ul>
</div>