!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en",  :lang => "en" }
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= @meta_title
    %meta{ :name => "description", :content => @meta_description }
    %meta{ :name => "keywords", :content => @meta_keywords }
    = stylesheet_link_tag 'application', 'sexy_flash', 'jquery-ui-1.7.2'
    =# auto_discovery_link_tag(:rss, :action => 'feed')
    = javascript_include_tag "application", "jquery-1.3.2", "jquery-ui-1.7.2", "jrails", "jquery-bgiframe", :cache => true
    =# javascript_tag "$(document).ready(function() { if($('.flash:visible').length == 2){ FlashMessage.show(); } });"
    = javascript_tag "var MAX_MESSAGE_LENGTH = #{ MAX_MESSAGE_LENGTH }"
    /[if IE 6] 
      = stylesheet_link_tag 'ie6' 

  %body#body
    #wrapper
      = render :partial => 'shared/header'
      #container
        = render :partial => 'shared/flash', :object => flash
        =# sexy_flash :timeout => 2, :duration => 0.1
        #leftColumn= yield
        #rightColumn= yield :sidebar

      = render :partial => 'shared/footer'